@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Exo+2&display=swap");
body {
  margin: 0%;
  background-color: #1c0f6b;
}

.hero {
  width: 100%;
  height: 217px;

  display: flex;
  top: 0%;
}

.hero-img {
  margin: 0;
  width: 100%;
}

.hero-img img {
  width: 100%;
  height: 217px;
  object-fit: cover;
  opacity: 0.7;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 217px;
  color: white;
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
}

.hero-text h2 {
  font-family: "Concert One", cursive;
  font-size: 2.2rem;
  font-weight: 400;
  margin: 0;
}

.hero-text p {
  font-family: "Exo 2", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0;
}

.carousel-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.section-title {
  font-family: "Concert One", cursive;
  font-size: 1.25rem;
  color: white;
  font-size: 400;
}

.carousel {
  display: flex;

  height: 160.76px;
  align-items: center;
  overflow: scroll;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 40%;
  height: 150.76px;
  background-color: pink;
  border-radius: 5px;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  width: 100%;
  height: 28.82px;
  position: absolute;
  color: white;
  font-family: "Exo 2", sans-serif;
  font-size: 0.68rem;
  font-weight: 400;
  text-align: center;
  background-color: #00574d;
  bottom: 0%;
}

.categories-container {
  width: 92%;
  margin: 2rem auto;
  box-sizing: border-box;
}
.categories-container h2 {
  font-family: "Concert One", cursive;
  font-size: 1.25rem;
  color: white;
  font-size: 400;
}

.categories {
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.categories p {
  color: white;
  font-family: "Exo 2", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0.5rem;
}
